body {
    font-family: Helvetica;
    font-weight: 300;
    line-height: 1.5;
    font-size: 16px;
    @include tablet {
        font-size: 20px;
    }
    @include desktop {
        font-size: 24px;
    }
    @include desktop-large {
        font-size: 30px;
    }
}

.text-2 {
    font-size: 1.4em;
}

.text-3 {
    font-size: 1.8em;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

h2 {
    font-weight: inherit;
    margin: 0;
}